{% extends "base.html" %}
{% block content %}
  <div class="text-center">
    <h1>Create a new Accout :</h1>
    <form action="" method=POST>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="submit" class="btn btn-secondary">
    </form>
  </div>
{% endblock %}



budget = models.ForeignKey(Budget, on_delete=models.CASCADE)
  readonly_fields = ("budget",)
  name = models.CharField(max_length=50, blank=False, null=False)


  class AccountKind(models.TextChoices):
    CHECKING = "Checking"
    SAVINGS = "Savings"
    ASSET = "Asset"

  kind = models.CharField(max_length=20, choices=AccountKind.choices, default=AccountKind.CHECKING)
  working_balance = models.IntegerField(default=0)
  created_at = models.DateTimeField(auto_now_add=True)
  updated_at = models.DateTimeField(auto_now=True)
<label class="h-10 font-bold" for="budget">Budget :</label>
<input class="bg-white h-10" name="budget" value="{{budget.name}}"/>

<label class="font-bold" for="name">Name :</label>
<input class="bg-white" name="name"/>

<label class="font-bold" for="kind">Kind :</label>
<select class="bg-white" name="kind">
  {% for kind in kinds %}
    <option value ="{{ kind.value }}">{{ kind.label }}</option>
  {% endfor %}/>
</select>

<label class="font-bold" for="working_balance">Working Balance :</label>
<input class="bg-white" name="working_balance"/>


    <label
      class="font-bold"
      for="text"
      >Text</label
    >
    <textarea
      class="bg-white"
      name="text"
    ></textarea>
    <label
      class="font-bold"
      for="published_date"
      >Published Date :</label
    >
    <input
      class="bg-white h-10"
      type="datetime-local"
      name="published_date"
    />
    <input
      class="mx-8 my-8 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg px-5 py-2"
      type="submit"
    />