{% extends "base.html" %}
{% block content %}
  <div class="bg-white mx-auto m-10 p-10 py-8 border rounded-lg gap-y-4 max-w-2xl flex gap-8">
    <div class="whitespace-nowrap">
      <label class="font-medium text-gray-900">Name :</label>
      <div class="mt-2 py-2">{{ account.name }}</div>
    </div>
    <div class="whitespace-nowrap">
      <label class="font-medium text-gray-900">Type :</label>
      <div class="mt-2 py-2">{{ account.kind }}</div>
    </div>
    <div class="whitespace-nowrap">
      <label class="font-medium text-gray-900">Working Balance :</label>
      <div class="mt-2 py-2">{{ account.working_balance }}</div>
    </div>
    <div class="whitespace-nowrap">
      <label class="font-medium text-gray-900">Created At :</label>
      <div class="mt-2 py-2">{{ account.created_at }}</div>
    </div>
  </div>

  <h2 class="font-bold text-gray-900 text-center text-xl my-4">{{ account.name }}</h2>
  {% include "partials/_transaction_form.html" with account_id=account_id %}
  <table class="w-full bg-white rounded-xl overflow-hidden">
    <thead class="border-b border-gray-300 bg-zinc-200">
      <tr>
        <th class="py-3.5 pr-3 pl-4 text-left font-bold text-gray-900">Date</th>
        <th class="py-3.5 pr-3 pl-4 text-left font-bold text-gray-900">Payee</th>
        <th class="py-3.5 pr-3 pl-4 text-left font-bold text-gray-900">Category</th>
        <th class="py-3.5 pr-3 pl-4 text-left font-bold text-gray-900">Memo</th>
        <th class="py-3.5 pr-3 pl-4 text-left font-bold text-gray-900">Outflow</th>
        <th class="py-3.5 pr-3 pl-4 text-left font-bold text-gray-900">Inflow</th>
      </tr>
    </thead>
    <tbody class="table-body">
      {% for transaction in transactions %}
      <tr class="border-b border-gray-200">
        <td class="py-4 px-3 pl-4 font-medium text-gray-900">{{ transaction.date|date:"d/m/Y H:i:s" }}</td>
        <td class="py-4 px-3 pl-4 font-medium text-gray-500">{{ transaction.payee }}</td>
        <td class="py-4 px-3 pl-4 font-medium text-gray-500">{{ transaction.category }}</td>
        <td class="py-4 px-3 pl-4 font-medium text-gray-500">{{ transaction.memo }}</td>
        <td class="py-4 px-3 pl-4 font-medium text-gray-500">{{ transaction.outflow }}</td>
        <td class="py-4 px-3 pl-4 font-medium text-gray-500">{{ transaction.inflow }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="grid justify-self-end mr-20 ">
    <a href="{% url "accounts-list" %}" class="border rounded-md bg-gray-600 px-4 py-2 mt-4 font-semibold text-white hover:bg-gray-500 col-span-full justify-self-end">Return</a>
  </div>
{% endblock %}
