{% extends "base.html" %}
{% block content %}
  <div class="text-center">
    {% for account in accounts %}
      <strong>{{ account }}</strong>
      <ul>
        <li>Name : {{ account.name }}</Li>
        <li>Type: {{ account.kind }}</Li>
        <li>Working Balance : {{ account.working_balance }}</Li>
        <li>Created At : {{ account.created_at }}</Li>
      </ul>
      <div class="mt-10 mb-10">
        <a href="{% url "account-show" account.id %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> Show</a>
        <a href="{% url "account-edit" account.id %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> Edit</a>
        <a href="{% url "account-delete" account.id %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> Delete</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
