{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}MyBank App{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script> 
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <span class="text-green-500 font-bold">{{ message }}</span>
      {% endfor %}
    {% endif %}
    {% block content %} {% endblock %}
  </body>
</html>
