{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="reports flex h-screen border-t">
    <div class="report_graph w-3/4 border-r mt-8">
      <canvas class="myChart" data-chart-labels="{{ chart_labels }}" data-chart-data="{{ chart_data }}" data-total-spending-data="{{ total_spending }}"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static "budget/js/chart.js" %}"></script>
    <div class="spendings_legend w-1/4">
      <div class="total_spending text-center border-b py-2">
        <h1>Total Spending</h1>
        <span class="font-bold text-xl">{{ spending_data.total_spending }}€</span>
      </div>
      <div class="average_spending text-center border-b py-2">
        <h1>Average Spending</h1>
        <span class="font-bold text-xl">{{ spending_data.average_spending }}€</span>
      </div>
      <div class="spending_per_category p-2">
        <div class="header flex justify-between">
          <h1 class="font-bold">Categories</h1>
          <h1 class="font-bold">Spending</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
